#blogPostsGallery {
    background-color: white;
    padding-bottom: 30px;
}
#blogPostsGallery h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}
.card {
    margin-bottom: 20px;
}
.card-header {
    background-color: inherit;
    background-color: #18BC9C;
}
.pagination {
    text-align: center;
}
#blogPostPerPage{
    text-align: center;
    margin-bottom: 30px;
}
#btnBlogPerPage{
    background-color: #18BC9C;
    color: white;
}
#selectBlogPerPage{
    width: 70px;
}
#blogPostPerPageForm label, select, button{
    margin-left: 5px;
    margin-right: 5px;
}
.page-item.active .page-link{
    background-color: #18BC9C;
}
.page-link{
    color: black;
}