#blogPostsGallery {
    background-color: white;
    padding-bottom: 30px;
}
#blogPostsGallery h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}
.card {
    margin-bottom: 20px;
}
.card-header {
    background-color: inherit;
    background-color: #18BC9C;
}