.container-fluid{
    overflow-x: hidden;
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    width : 100%;
    position: relative;
    height: auto;
}

hr.star-light,
hr.star-primary {
    border-top: solid 5px;
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.star-primary {
    margin-bottom: 100px;
}

/* Header */
header {
    text-align: center;
    background: #18BC9C;
    color: white;
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
header img {
    text-align: center;
    width: 25%;
    border: 5px solid white;
}
header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 400;
}
@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}

/* Section */
section {
    padding: 100px 0;
}
section h2 {
    margin: 0;
    font-size: 3em;
}
section.success {
    background: #18BC9C;
    color: white;
}
@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}

/* portfolio */

#portfolio{
    background-color: white;
}

#portfolio .col-sm-4{
    margin-top: 15px;
    margin-bottom: 25px;
}

/* Formulaire */

#contact{
    background-color: white;
}

#contact .row{
    display: inherit;
}

#contact .valid{
    text-align: center;
}


.floating-label-form-group {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    border: none;
    font-size: 1.5em;
}
.floating-label-form-group label {
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}



.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white;
}
.btn-primary {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #1a242f;
    border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
}
.btn-primary .badge {
    color: #2C3E50;
    background-color: white;
}
.btn-success {
    color: white;
    background-color: #18BC9C;
    border-color: #18BC9C;
    font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: white;
    background-color: #128f76;
    border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #18BC9C;
    border-color: #18BC9C;
}
.btn-success .badge {
    color: #18BC9C;
    background-color: white;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}
.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}
.scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
}
.scroll-top .btn:focus {
    outline: none;
}
