{% extends 'admin/layout.twig' %}

{% block head %}
    <title>Blog posts admin</title>
    <link href="../public/css/blogPostsAdmin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="blogPostsAdmin" class="col-xs-12 col-lg-9">
        <h1>Blog Posts admin</h1>
    </div>
{% endblock %}