{% extends 'layout.twig' %}

{% block head %}
    <title>Liste des blogs</title>
{% endblock %}

{% block content %}
    <ul>
        {% for blogPost in blogPostsList %}
            <li>{{ blogPost.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}